.has-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
 
 /* Tooltip text */
.has-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(1,1,1,0.7);
    color: #fff;
    text-align: center;
    padding:5px;
    border-radius: 6px;
    width:400px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.has-tooltip:hover .tooltiptext {
    visibility: visible;
}

.has-tooltip .tooltiptext {
    top: -5px;
    right: 120%;
}

.has-tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 30px;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(1,1,1,0.7);
}

.info {
    aspect-ratio: 1;
}

.tooltiptext li {
    text-align:start;
}